body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 25px;
  padding: 25px;
}

.container-small {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 5px;
  padding: 15px;
}

.bars {
  height: 100px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px #ddd;
}

.controls {
  display: flex;
}