.container {
  display: flex;
  align-items: flex-end;
  height: 100px;
  margin: 25px;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px #ddd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
}